body{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.header-section,.info-section{
	display: flex;
	margin: 0;
	background-color: #1f2937;
	align-items: center;
  justify-content: space-between;
}

.header-section{
  padding: 20px 150px;
}

a{
	text-decoration: none;
}

ul{
	padding: 0;
	margin: 0;
	display: flex;
}

ul li{
	list-style: none;
	padding-left: 20px;
}

.header-section .logo{
	font-size: 24px;
	font-weight: 650;
	color: #f9faf8;
}

.header-section a{
	font-size: 18px;
	color: #e5e7eb;
}

.info-section{
	display: flex;
	align-items: center;
  padding: 80px 150px;;
}

.info-section img{
	width: 500px;
  height: 300px;
}

.info-container{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  justify-content: space-evenly;
}

.info-container .info-title{
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.info-container .info-paragraph{
  font-size: 18px;
  color: #e5e7eb;
  padding-bottom: 7px;
}

button{
  font-size: large;
  font-weight: bold;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: #3882f6;
  border: 0px;
}

button a{
  color: white;
}

.images-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  padding: 25px 150px;
  text-align: center;
}

.images-section-title{
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
}

.images{
  padding-top: 15px;
	display: flex;
  flex-wrap: wrap;
}

.images img{
  border: 5px #3882f6 solid;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.img-text{
  width: 250px;
}

.quote-section{
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  color: #1f2937;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.author{
  font-weight: bold;
  align-self: flex-end;
}